@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300&display=swap");
@import url(https://fonts.googleapis.com/css?family=Exo+2:200i);
* {
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #111;
  overflow-x: hidden;
}

.active {
  -webkit-transform: translateX(0) !important;
          transform: translateX(0) !important;
}

.mobile-nav {
  background: wheat;
  width: 50%;
  position: absolute;
  right: 0;
  height: 100vh;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateX(1000%);
          transform: translateX(1000%);
  display: none;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.mobile-nav li {
  display: block;
  padding: 20px 0;
}

.mobile-nav li a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  opacity: 0.5;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.mobile-nav li:hover a {
  opacity: 1;
  cursor: pointer;
  text-decoration: underline;
}

.mobile-nav .closenav {
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 30px;
  opacity: 0.5;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.mobile-nav .closenav:hover {
  opacity: 1;
  cursor: pointer;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px;
  font-family: 'Poppins', sans-serif;
  border-bottom: 1px solid rgba(128, 128, 128, 0.2);
}

header .logo p {
  color: white;
  font-weight: 1000;
  letter-spacing: 1.5px;
  font-size: 18px;
  opacity: 1;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transition: -webkit-text-decoration-color 300ms;
  transition: -webkit-text-decoration-color 300ms;
  transition: text-decoration-color 300ms;
  transition: text-decoration-color 300ms, -webkit-text-decoration-color 300ms;
}

header .logo p span {
  color: purple;
}

header .logo:hover p {
  cursor: pointer;
  -webkit-text-decoration: underline 0.15em rgba(255, 255, 255, 0);
          text-decoration: underline 0.15em rgba(255, 255, 255, 0);
}

header .mobile-nav-icon:hover {
  cursor: pointer;
}

header .logo a {
  text-decoration: none;
  color: white;
}

header .mobile-nav-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .mobile-nav-icon .language {
  color: white;
  font-weight: 500;
}

.homepage {
  color: white;
  padding: 20px;
}

.homepage .big {
  font-size: 40px;
  color: white;
}

.homepage .small {
  font-size: 13px;
  letter-spacing: .3em;
  color: gray;
  margin-top: 40px;
}

.homepage button {
  padding: 10px 30px;
  background: none;
  color: aqua;
  border-color: aqua;
  font-family: 'La Belle Aurore', cursive;
  font-size: 20px;
  margin-top: 30px;
  -webkit-animation: 2s ease-out 0s 1 upDown;
          animation: 2s ease-out 0s 1 upDown;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.homepage button:hover {
  background-color: aqua;
  cursor: pointer;
  color: black;
  border-color: black;
}

.html-tags {
  font-size: 16px;
  font-family: 'La Belle Aurore', cursive;
  text-transform: lowercase;
  color: rgba(128, 128, 128, 0.5);
}

.one {
  -webkit-animation: 1s ease-out 0s 1 leftToRight;
          animation: 1s ease-out 0s 1 leftToRight;
}

.two {
  -webkit-animation: 1.3s ease-out 0s 1 rightToLeft;
          animation: 1.3s ease-out 0s 1 rightToLeft;
  -webkit-box-shadow: #555bff 0px 0px 0px 3px, #1fc11b 0px 0px 0px 6px, #ffd913 0px 0px 0px 9px, #ff9c55 0px 0px 0px 12px, #ff5555 0px 0px 0px 15px;
          box-shadow: #555bff 0px 0px 0px 3px, #1fc11b 0px 0px 0px 6px, #ffd913 0px 0px 0px 9px, #ff9c55 0px 0px 0px 12px, #ff5555 0px 0px 0px 15px;
}

.three {
  -webkit-animation: 1.6s ease-out 0s 1 leftToRight;
          animation: 1.6s ease-out 0s 1 leftToRight;
}

.four {
  -webkit-animation: 2s ease-out 0s 1 upDown;
          animation: 2s ease-out 0s 1 upDown;
}

.projects-container {
  margin-top: 100px;
  padding: 10px;
  position: relative;
}

.projects-container .title {
  color: aqua;
  font-size: 30px;
  letter-spacing: 1.5px;
}

.projects-container .work {
  color: rgba(128, 128, 128, 0.05);
  font-size: 150px;
  position: absolute;
  right: 0;
  top: 50px;
  font-weight: 1000;
  z-index: -1;
}

.projects-container .desc {
  color: white;
}

.projects-container .desc a {
  text-decoration: none;
  color: purple;
  font-weight: 1000;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.projects-container .desc a:hover {
  color: aqua;
}

.projects-container .projects-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  gap: 0;
}

.projects-container .projects-grid .project {
  position: relative;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.projects-container .projects-grid .project img {
  width: 100%;
}

.projects-container .projects-grid .project .overlay {
  position: absolute;
  top: 28%;
  left: 27%;
  opacity: 0;
  color: white;
  font-size: 20px;
  padding: 90px 20px;
  background-color: rgba(0, 136, 255, 0.475);
  border-radius: 10px;
  font-weight: 300;
  font-family: 'Lato', sans-serif;
  letter-spacing: 5px;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.projects-container .projects-grid .project:hover img {
  opacity: 0.3;
}

.projects-container .projects-grid .project:hover .overlay {
  opacity: 1;
  cursor: pointer;
}

.about {
  position: relative;
  padding: 20px;
}

.about .about-title {
  color: aqua;
  font-size: 30px;
  letter-spacing: .1em;
}

.about .desc {
  color: white;
  font-size: 13px;
  width: 90%;
  font-weight: 500;
}

.experience {
  margin-top: 50px;
}

.experience .title {
  color: aqua;
  font-weight: 800;
}

.experience .experience-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  margin-top: -150px;
}

.experience .experience-grid .card {
  background-color: rgba(128, 128, 128, 0.2);
  border-radius: 20px;
  padding: 0 30px;
}

.experience .experience-grid .card .company {
  color: rgba(7, 96, 138, 0.831);
}

.experience .experience-grid .card .job-title {
  color: aqua;
  margin-bottom: 30px;
  font-size: 10px;
  margin-top: -20px;
}

.experience .experience-grid .card .job-desc {
  color: white;
  font-size: 13px;
}

.experiencebg {
  color: rgba(128, 128, 128, 0.1);
  font-size: 90px;
  position: absolute;
  right: 0;
  font-weight: 1000;
  z-index: -1;
}

.contact-h1,
.contact-p {
  margin: 0;
  padding: 0;
}

.contact-h1 {
  font-size: 2rem;
  font-family: 'Dancing Script';
}

textarea,
input,
#sendLetter {
  line-height: 1.5rem;
  border: 0;
  outline: none;
  font-family: inherit;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

textarea,
input {
  color: #4e5e72;
  background-color: transparent;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='24'><rect fill='rgb(229, 225, 187)' x='0' y='23' width='10' height='1'/></svg>");
}

textarea {
  width: 100%;
  height: 8rem;
  resize: none;
}

input {
  width: 50%;
  margin-bottom: 1rem;
}

input[type=text]:invalid,
input [type=email]:invalid {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='24'><rect fill='rgba(240, 132, 114, 0.5)' x='0' y='23' width='10' height='1'/></svg>");
}

#sendLetter {
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  background-color: rgba(78, 94, 114, 0.9);
  color: white;
  font-size: 1rem;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

#sendLetter:hover,
#sendLetter :focus {
  outline: none;
  background-color: #4e5e72;
}

input[type=text]:focus,
input[type=email]:focus,
textarea:focus {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='24'><rect fill='rgba(78, 94, 114, 0.3)' x='0' y='23' width='10' height='1'/></svg>");
  outline: none;
}

.wrapper {
  width: 100%;
  background-color: white;
  margin-bottom: 100px;
  display: none;
}

.letter {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  width: 30rem;
  margin: auto;
  -webkit-perspective: 60rem;
          perspective: 60rem;
}

.side {
  height: 12rem;
  background-color: #fcfcf8;
  outline: 1px solid transparent;
}

.side:nth-of-type(1) {
  padding: 2rem 2rem 0;
  border-radius: 1rem 1rem 0 0;
  -webkit-box-shadow: inset 0 0.75rem 2rem rgba(229, 225, 187, 0.5);
          box-shadow: inset 0 0.75rem 2rem rgba(229, 225, 187, 0.5);
}

.side.side:nth-of-type(2) {
  padding: 2rem;
  border-radius: 0 0 1rem 1rem;
  -webkit-box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.05), inset 0 -0.57rem 2rem rgba(229, 225, 187, 0.5);
          box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.05), inset 0 -0.57rem 2rem rgba(229, 225, 187, 0.5);
  text-align: right;
}

.envelope {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
}

.envelope.front {
  width: 10rem;
  height: 6rem;
  border-radius: 0 0 1rem 1rem;
  overflow: hidden;
  z-index: 9999;
  opacity: 0;
}

.envelope.front::before,
.envelope.front::after {
  position: absolute;
  display: block;
  width: 12rem;
  height: 6rem;
  background-color: #e9dc9d;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  content: '';
}

.envelope.front::after {
  right: 0;
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
  -webkit-transform-origin: 100% 0;
          transform-origin: 100% 0;
}

.envelope.back {
  top: -4rem;
  width: 10rem;
  height: 10rem;
  overflow: hidden;
  z-index: -9998;
  opacity: 0;
  -webkit-transform: translateY(-6rem);
          transform: translateY(-6rem);
}

.envelope.back::before {
  display: block;
  width: 10rem;
  height: 10rem;
  background-color: #e9dc9d;
  border-radius: 1rem;
  content: '';
  -webkit-transform: scaleY(0.6) rotate(45deg);
          transform: scaleY(0.6) rotate(45deg);
}

.result-message {
  opacity: 0;
  -webkit-transition: all 0.3s 2s;
  transition: all 0.3s 2s;
  -webkit-transform: translateY(9rem);
          transform: translateY(9rem);
  z-index: 1000;
}

.sent .letter {
  -webkit-animation: scaleLetter 1s forwards ease-in;
          animation: scaleLetter 1s forwards ease-in;
}

.sent .side:nth-of-type(1) {
  -webkit-transform-origin: 0 100%;
          transform-origin: 0 100%;
  -webkit-animation: closeLetter 0.66s forwards ease-in;
          animation: closeLetter 0.66s forwards ease-in;
}

.sent .side:nth-of-type(1) h1,
.sent .side:nth-of-type(1) textarea {
  -webkit-animation: fadeOutText 0.66s forwards linear;
          animation: fadeOutText 0.66s forwards linear;
}

.sent button {
  background-color: rgba(78, 94, 114, 0.2);
}

.sent .envelope {
  opacity: 0;
}

.sent .result-message {
  color: white;
  opacity: 1;
  -webkit-transform: translateY(12rem);
          transform: translateY(12rem);
}

.centered {
  position: absolute;
  left: 0;
  right: 0;
  margin: 1rem auto;
}

.navbar {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 30%;
  background-color: rgba(29, 27, 27, 0.778);
  width: 130px;
  height: 100vh;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  -webkit-animation: 1.3s ease-out 0s 1 leftToRight;
          animation: 1.3s ease-out 0s 1 leftToRight;
  -webkit-animation-delay: 0;
          animation-delay: 0;
  z-index: 50;
  display: none;
}

.navbar .logo img {
  width: 100%;
  height: 90px;
}

.navbar .logo img:hover {
  cursor: pointer;
}

.navbar .links ul {
  list-style-type: none;
}

.navbar .links ul li a {
  text-decoration: none;
  color: white;
  display: block;
  padding: 13px 0;
  border-bottom: 0.5px solid rgba(60, 60, 60, 0.5);
  width: 100%;
  text-align: center;
  -webkit-transition: .4s ease;
  transition: .4s ease;
  font-size: 16px;
}

.navbar .links ul li a:hover {
  color: purple;
  border-bottom: .5 solid purple;
  width: 130px;
  text-align: center;
}

.navbar .social-media {
  font-size: 30px;
  color: white;
}

.navbar .social-media i {
  margin-right: 10px;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.navbar .social-media i:hover {
  color: purple;
  cursor: pointer;
}

.reveal {
  position: relative;
  -webkit-transform: translateX(-150px);
          transform: translateX(-150px);
  opacity: 0;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.reveal.active {
  opacity: 1;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

.reveal2 {
  position: relative;
  -webkit-transform: translateX(150px);
          transform: translateX(150px);
  opacity: 0;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.reveal2.active2 {
  opacity: 1;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

.navbar:hover {
  padding: 0 30px 0 30px;
}

@-webkit-keyframes closeLetter {
  50% {
    -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
  }
  100% {
    -webkit-transform: rotateX(-180deg);
            transform: rotateX(-180deg);
  }
}

@keyframes closeLetter {
  50% {
    -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
  }
  100% {
    -webkit-transform: rotateX(-180deg);
            transform: rotateX(-180deg);
  }
}

@-webkit-keyframes fadeOutText {
  49% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOutText {
  49% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fadeInEnvelope {
  0% {
    opacity: 0;
    -webkit-transform: translateY(8rem);
            transform: translateY(8rem);
  }
  /*90% {opacity: 1; transform: translateY(4rem);}*/
  100% {
    opacity: 1;
    -webkit-transform: translateY(4.5rem);
            transform: translateY(4.5rem);
  }
}

@keyframes fadeInEnvelope {
  0% {
    opacity: 0;
    -webkit-transform: translateY(8rem);
            transform: translateY(8rem);
  }
  /*90% {opacity: 1; transform: translateY(4rem);}*/
  100% {
    opacity: 1;
    -webkit-transform: translateY(4.5rem);
            transform: translateY(4.5rem);
  }
}

@-webkit-keyframes scaleLetter {
  66% {
    -webkit-transform: translateY(-8rem) scale(0.5, 0.5);
            transform: translateY(-8rem) scale(0.5, 0.5);
  }
  75% {
    -webkit-transform: translateY(-8rem) scale(0.5, 0.5);
            transform: translateY(-8rem) scale(0.5, 0.5);
  }
  90% {
    -webkit-transform: translateY(-8rem) scale(0.3, 0.5);
            transform: translateY(-8rem) scale(0.3, 0.5);
  }
  97% {
    -webkit-transform: translateY(-8rem) scale(0.33, 0.5);
            transform: translateY(-8rem) scale(0.33, 0.5);
  }
  100% {
    -webkit-transform: translateY(-8rem) scale(0.3, 0.5);
            transform: translateY(-8rem) scale(0.3, 0.5);
  }
}

@keyframes scaleLetter {
  66% {
    -webkit-transform: translateY(-8rem) scale(0.5, 0.5);
            transform: translateY(-8rem) scale(0.5, 0.5);
  }
  75% {
    -webkit-transform: translateY(-8rem) scale(0.5, 0.5);
            transform: translateY(-8rem) scale(0.5, 0.5);
  }
  90% {
    -webkit-transform: translateY(-8rem) scale(0.3, 0.5);
            transform: translateY(-8rem) scale(0.3, 0.5);
  }
  97% {
    -webkit-transform: translateY(-8rem) scale(0.33, 0.5);
            transform: translateY(-8rem) scale(0.33, 0.5);
  }
  100% {
    -webkit-transform: translateY(-8rem) scale(0.3, 0.5);
            transform: translateY(-8rem) scale(0.3, 0.5);
  }
}

/*
@keyframes pushLetter {
  0% {transform: translateY(-8rem) scale(0.3, 0.5);}
  50% {transform: translateY(-8rem) scale(0.3, 0.5);}
  90% {transform: translateY(-8.5rem) scale(0.3, 0.5);}
  100% {transform: translateY(-8rem) scale(0.3, 0.5);}
}
*/
@-webkit-keyframes leftToRight {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes leftToRight {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes rightToLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes rightToLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes upDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes upDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes move {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes move {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@-webkit-keyframes m {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes m {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes md {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes md {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes appear {
  from {
    opacity: 0;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    opacity: 1;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes appear {
  from {
    opacity: 0;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    opacity: 1;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes appearm {
  from {
    opacity: 0;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  to {
    opacity: 1;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes appearm {
  from {
    opacity: 0;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  to {
    opacity: 1;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes flicker {
  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    text-shadow: -0.2rem -0.2rem 1rem #fff, 0.2rem 0.2rem 1rem #fff, 0 0 2rem var(--neon-text-color), 0 0 4rem var(--neon-text-color), 0 0 6rem var(--neon-text-color), 0 0 8rem var(--neon-text-color), 0 0 10rem var(--neon-text-color);
    -webkit-box-shadow: 0 0 0.5rem #fff, inset 0 0 0.5rem #fff, 0 0 2rem var(--neon-border-color), inset 0 0 2rem var(--neon-border-color), 0 0 4rem var(--neon-border-color), inset 0 0 4rem var(--neon-border-color);
            box-shadow: 0 0 0.5rem #fff, inset 0 0 0.5rem #fff, 0 0 2rem var(--neon-border-color), inset 0 0 2rem var(--neon-border-color), 0 0 4rem var(--neon-border-color), inset 0 0 4rem var(--neon-border-color);
  }
  20%,
  24%,
  55% {
    text-shadow: none;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

@keyframes flicker {
  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    text-shadow: -0.2rem -0.2rem 1rem #fff, 0.2rem 0.2rem 1rem #fff, 0 0 2rem var(--neon-text-color), 0 0 4rem var(--neon-text-color), 0 0 6rem var(--neon-text-color), 0 0 8rem var(--neon-text-color), 0 0 10rem var(--neon-text-color);
    -webkit-box-shadow: 0 0 0.5rem #fff, inset 0 0 0.5rem #fff, 0 0 2rem var(--neon-border-color), inset 0 0 2rem var(--neon-border-color), 0 0 4rem var(--neon-border-color), inset 0 0 4rem var(--neon-border-color);
            box-shadow: 0 0 0.5rem #fff, inset 0 0 0.5rem #fff, 0 0 2rem var(--neon-border-color), inset 0 0 2rem var(--neon-border-color), 0 0 4rem var(--neon-border-color), inset 0 0 4rem var(--neon-border-color);
  }
  20%,
  24%,
  55% {
    text-shadow: none;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

@media screen and (min-width: 800px) {
  .big {
    font-size: 60px !important;
  }
  .projects-container .title {
    font-size: 50px !important;
  }
  .projects-container .work {
    font-size: 300px !important;
  }
  .projects-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 50% !important;
        grid-template-columns: 50% 50% !important;
  }
  .projects-grid img {
    height: 100%;
  }
  .about-title {
    font-size: 40px !important;
  }
  .experience .title {
    font-size: 40px !important;
  }
  .experiencebg {
    font-size: 160px !important;
  }
  .desc {
    font-size: 16px !important;
    width: 70%;
  }
  .company {
    font-size: 20px !important;
  }
  .job-title {
    font-size: 15px !important;
  }
  .job-desc {
    font-size: 16px !important;
  }
}

@media screen and (min-width: 1200px) {
  .big {
    font-size: 80px !important;
  }
  .projects-container .title {
    font-size: 70px !important;
  }
  .projects-container .work {
    font-size: 350px !important;
  }
  .projects-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 35% 35% 35% !important;
        grid-template-columns: 35% 35% 35% !important;
  }
  .projects-grid img {
    height: 100%;
  }
  .about-title {
    font-size: 60px !important;
  }
  .experience .title {
    font-size: 60px !important;
  }
  .experiencebg {
    font-size: 150px !important;
  }
  .desc {
    font-size: 20px !important;
    width: 70%;
  }
  .company {
    font-size: 24px !important;
  }
  .job-title {
    font-size: 15px !important;
  }
  .job-desc {
    font-size: 16px !important;
  }
  .experience-grid {
    margin: 0 auto;
  }
}

@media screen and (min-width: 1600px) {
  .big {
    font-size: 100px !important;
  }
  .projects-container .title {
    font-size: 90px !important;
  }
  .projects-container .work {
    font-size: 450px !important;
  }
  .projects-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 25% 25% 25% 25% !important;
        grid-template-columns: 25% 25% 25% 25% !important;
  }
  .projects-grid img {
    height: 100%;
  }
  .about-title {
    font-size: 80px !important;
  }
  .experience .title {
    font-size: 80px !important;
    margin-bottom: -400px;
  }
  .experiencebg {
    top: 200px;
    right: -200px;
    font-size: 250px !important;
    opacity: 0.3 !important;
  }
  .desc {
    font-size: 20px !important;
    width: 50%;
  }
  .about .desc {
    width: 50%;
  }
  .company {
    font-size: 24px !important;
  }
  .job-title {
    font-size: 15px !important;
  }
  .job-desc {
    font-size: 16px !important;
  }
  .experience-grid {
    margin: 0 auto;
    margin-top: -150px;
  }
  .mobile-nav-icon {
    display: none !important;
  }
  .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header {
    display: none;
  }
  .homepage {
    margin-left: 150px;
  }
  .projects-container {
    margin-left: 150px;
  }
  .about {
    margin-left: 150px;
  }
  .wrapper {
    display: block;
  }
}
/*# sourceMappingURL=main.css.map */